# Directories
Debug/
Release/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Except these special cases! They're from objcopy
!Server/favicon.o

# Intermediate viewer files
.*.md.html

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
